.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


#root {
    height: 100vh;
    overflow-x: hidden;
}

header {
    height: 10%;
    background-color: seagreen;
    padding-inline: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: seashell;
    }

    #login {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        color: seashell;

        input {
            color: black;
        }
    }
}


main {
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trains {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;

    li {
        width: 100%;
        margin-inline: 20%;
        border-bottom: 1px solid rgba(46, 139, 87, 0.43);
    }

    section {
        width: 75%;
        padding: 2% 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
            color: black;
        }
    }

}

#train {
    height: 100%;
    width: 100%;
    padding-inline: 20%;
    display: flex;
    flex-direction: column;
    gap: 5%;

    #trainHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #ticketOrder {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5%;
        }
    }

    #trainDetails {
        display: flex;
        justify-content: space-between;

        table {
            border-collapse: collapse;
            margin-inline: 10%;
            width: 80%;
            text-align: center;
            table-layout: fixed;
        }

        table,
        th,
        td {
            border: 1px solid;
        }
    }
}

.trainInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 50%;

    p {
        margin: 0;
    }

    h2 {
        margin: 0;
        margin-bottom: 2%;
    }
}

.fill {
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.empty {
    flex: 100%;
}

.border-low {
    border-bottom: 1px seashell solid;
}

.padding {
    padding: 10%;
}

div.tickets {
    max-height: 100%;
}

.max-height {
    max-height: 100%;
}

.wider {
    width: 50vw;
}

.col-right {
    padding: 2%;
    border-right: 1px seashell solid;
    overflow-x: scroll;
}

.col-left {
    padding: 2%;
    border-left: 1px seashell solid;
    overflow-x: scroll;
}

.pad-2 {
    padding: 2%;
}

.shadow {
    box-shadow: 10px 10px 5px silver;
}

.error {
    color: red;
}

.success {
    color: lime;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}
